* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: black;
    color: white;
    height: 100vh;
  }

header{
    /*background: url(https://images.pexels.com/photos/143714/pexels-photo-143714.jpeg?cs=srgb&dl=pexels-michael-zittel-143714.jpg&fm=jpg);*/
    background: url(images/view.jpg);
    height: 50vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.2);
  }

header .banner{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navlinks a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
  }
.navlinks {
    list-style: none;
    display: flex;
  }
  
.navlinks li {
    padding: 0px 20px;
  }
  
.navlinks li a:hover {
    color: black;
    letter-spacing: 2px;
  }

  .banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
}

.banner-title{
    font-size: 4rem;
    margin-top: 30px;
    padding-bottom: 40px;
}

.banner form{
    background: #fff;
    opacity: 0.5;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-size: 16px;
    width: 100%;
    outline: 0;
    border: none;
}

.search-btn{
    font-size: 1rem;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.blog{
    background: #a6c2e0;
    padding: 2rem 1.2rem;
}
.blog-content{
    margin: 2rem 0;
}
.blog-img{
    position: relative;
}

.blog-text{
    margin: 1rem 0;
    padding: 0 0.5rem;
}
.blog-text span{
    display: block;
    color: black;
    padding-bottom: 0.5rem;
}
.blog-text h2{
    color: black;
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    color: black;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.button{
    display: inline-block;
    font-size: 1em;
    background: #a6c2e0;
    padding: 7px 10px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button2{
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    margin-top: 8px;
    margin-bottom: 10px;
}

.button:hover{
    letter-spacing: 1px;
}

.user{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.blog img{
    width: 100%;
    display: block;
}

.blog-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.blog-item{
    background: white;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2{
    font-size: 2em;
    color: black;
    letter-spacing: 2px;
    text-decoration: underline;
    padding-bottom: 5px;
}

.title p{
    font-size: 1.2em;
    color: black;
    font-style: italic;
    text-align: center;
}

.endline{
    font-size: 1em;
    color: black;
    text-align: center;
}

.endline a{
    text-decoration: none;
}

.endline a:hover{
    letter-spacing: 1px;
}

.social{
    display: flex;
    align-items: flex-end;
}
.social li{
    list-style: none;
}

.social li a{
    display: inline-block;
    filter: invert(100%);
    margin-left: 50px;
    margin-top: 15px;
    padding-right: 20px;
      }

footer{
    display: flex;
    background: rgba(0,0,0,0.2);
    justify-content: space-between;
}

.credits{
    display:flex;
    align-items: flex-end;
    padding-left: 10px;
    font-size: 16px;
    padding-bottom: 5px;
}

.tag {
    position: absolute;
    bottom: 0;
    right:0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 15px;
    color: white;
    background: green;
    letter-spacing: 1.5px;
}

@media(max-width: 700px){
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .social li a
    {
      margin-left: 25px;
    }

    .credits{
        font-size: 15px;
        padding-left: 5px;
    }

    .navlinks li {
        padding: 0px 8px;
    }

    .navlinks a{
        font-size: 1em;
      }
    .navlinks li a:hover {
        letter-spacing: 1px;
      }

      .banner-title{
        font-size: 3rem;
        margin-top: 20px;
      }

    .search-input{
        font-size: 0.9rem;}

    .search-input{
        padding: 0.2rem 0;}
}

@media(max-width: 500px){
    .blog-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .social li a
    {
      margin-left: 10px;
      margin-top: 10px;
    }
}


